导入csv数据

In [10]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt


filename = 'titanic-data.csv'
df = pd.read_csv(filename)
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

问题一:生还与否是否和客舱等级有关

In [15]:
# 组建生还和客舱等级的 series
p_df=df[['Pclass','Survived']]
p_df.describe()
#计算每个客舱的生还率

           Pclass    Survived
count  891.000000  891.000000
mean     2.308642    0.383838
std      0.836071    0.486592
min      1.000000    0.000000
25%      2.000000    0.000000
50%      3.000000    0.000000
75%      3.000000    1.000000
max      3.000000    1.000000